/* Cada categoria y cada regla
   están en orden alfabético */
/* General */
*
{
    margin: 0;
}

/* Etiquetas HTML */
a
{
    color: white;
    display: block;
    text-decoration: none;
}

body
{
    justify-content: center;
    color: white;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 3fr 9fr 1fr;
    grid-template-rows: 200px 9fr 1fr;
    height:99vh;
    max-width: 1920px;
    row-gap: 2px;
    width: 100vw;
}

footer
{
    align-items: center;
    border-radius: 4px;
    box-shadow: 5px 5px 10px #2eecc7;
    display: flex;
    font-family: "Josefin Sans";
    font-size: 25px;
    font-size: 1.56em;
    font-weight: bold;
    height:100%;
    justify-content: center;
    margin: auto;
    width: 96%;
}

header
{
    background-color: #393535;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #2eecc7;
    display: grid;
    grid-template-areas: 
    "menu marca";
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    height:100%;
    margin: auto;
    width: 96%;
}

input:invalid
{
    border:2px solid red;
}

nav
{
    align-items: end;
    display: flex;
    margin-bottom: 10px;
    margin-left: 15px;
    width: 100%;
}

main, footer
{
    background-color: #393535;
    width: 96%;
}

select
{
    background-color: white;
    border-radius: 4px;
    color: rgb(106, 105, 105);
    cursor: pointer;
    font-family: "Josefin Sans";
    font-size: 1.25em;
    margin: 2px;
    width: 71.5%;
}

/* Clases */
.boton
{
    color: #393535;
    cursor: pointer;
    margin: 3px auto;
    font-family: "Josefin Sans";
    font-size: 1.25em;
    width: 100%;
}

.boton:hover
{
    font-style: italic;
}

.campoEntrada
{
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-family: "Josefin Sans";
    font-size: 1.25em;
    margin: 2px;
    width: 70%;
}

.cardTrabajo
{
    align-items: center;
    background-color: whitesmoke;
    border-radius: 10px;
    display: flex;
    height: fit-content;
    justify-content: space-around;
    margin: 10px auto;
    outline: 2px solid #2bdda6;
    padding: 3px;
    width: 85%;
}

/* Animación contacto */
.contenedorBoton:hover
{
    box-shadow: 0 0 10px #2eecc7;
    overflow: hidden;
    position: relative;
}

.contenedorBoton::before
{
    font-family: "Font Awesome 5 Free";
    color: #393535;
    color: red;
    cursor: pointer;
    font-weight: 900;
    font-size: 25px;
    font-size: 1.56em;
    font-style: italic;
    content: "\f2b6";
    position: absolute;
    top: 4px;
    left: 0;
    visibility: hidden;
    transition: left 300ms ease;
}
  
.contenedorBoton:hover::before
{
    left: 180px;
    visibility: visible;
}

.contenedorBoton:hover::after
{
    visibility:hidden;
}

.contenedorLogo
{
    align-items:center;
    display: flex;
    flex-direction: row;
    height: 100%;
    margin-right: 15px;
    width: 100px;
}

.contenedorMarca
{
    display: flex;
    grid-area: marca;
    justify-content: right;
}

.contenedorMenu
{
    grid-area: menu;
    font-family: "Josefin Sans";
    font-size: 20px;
    font-size: 1.25em;
    height: fit-content;
    list-style: none;
    margin: 0;
    padding-left: 5px;
    width: 100%;
}

.contenedorTituloEncabezado
{
    align-items: center;
    display: flex;
    font-family:"Josefin Sans";
    font-size: 3.13em;
    font-weight: bold;
    text-align:right;
    text-shadow: 0px 0px 14px #2eecc7;
    animation: rotar3D 6s linear infinite;
}

.cuerpo2H
{
    align-items: center;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #2eecc7;
    display: flex;
    height:100%;
    justify-content:space-between;
    margin: auto;
}

.cuerpo2H .contacto
{
    display: grid;
    height:fit-content;
    grid-template-areas:
    "formulario mapa";
    grid-template-columns: 50% 50%;
    width: 100%;
}

.cuerpo2H .index
{
    display: grid;
    grid-template-areas:
    "parrafo logo";
    grid-template-columns: 66% 33%;
    width: 100%;
}

.cuerpo2H p
{
    font-family: "Roboto Slab";
    font-size: 1.56em;
    grid-area: parrafo;
    height:400px;
    margin-left: 15px;
    width: 98%;
}

.cuerpo3v
{
    align-items: center;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #2eecc7;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height:100%;
    margin: auto;
    width: 96%;
}

.cuerpo3v div
{
    width: 95%;
    margin: auto;
}

.descripcionTrabajo
{
    color: black;
    font-family: "Roboto Slab";
    font-size: 1em;
    overflow: hidden;
    width: 240px;
}

.etiqueta
{
    display: inline-block;
    font-family: "Josefin Sans";
    font-size: 1.25em;
    width: 23%;
    white-space: nowrap;
    text-align: right;
}

.formulario
{
    border-radius: 5px;
    grid-area: formulario;
    height: fit-content;
    margin-left:15px;
    margin-top: auto;
    margin-bottom: auto;
    outline: 2px solid #2bdda6;
    padding: 10px;
    width: 70%;

}

.icono
{
    margin:4px 4px;
    width: 30px;
}

.imgLogo
{
    width: 100%;
}

.imgLogoGrande
{
    border-radius: 5px;
    grid-area: logo;
    margin-right: 15px;
    outline: 2px solid #2bdda6;
    width: 100%;
}

.imgTrabajo
{
    border-radius: 4px;
    height: 150px;
    width: 150px;
}

.item
{
    display: flex;
    height: 100%;
    align-items: center;
}

.itemMenu
{
    background-color: red;
    border-radius: 15px;
    display: inline-block;
    height: 40px;
    outline: 3px solid #a8a7a7;
    overflow:hidden;
    transition: width 0.5s linear;
    white-space: nowrap;
    width: 39px;
}

.itemMenu:hover
{
    outline: 4px solid white;
    width: 29%;
    .icono
    {
        animation: girar 0.4s linear;
    }
}

.itemMenuSeleccionado
{
    border-radius: 15px;
    box-shadow: 0px 0px 50px #2eecc7;
    display: inline-block;
    height: 40px;
    outline: 4px solid #2eecc7;    
    vertical-align:top;
    width:210px;
}

.josefin
{
    font-family: "Josefin Sans";
    font-size: 1.25em;
    margin-left: 10px;
}

.mapa
{
    border-radius: 5px;
    grid-area: mapa;
    margin-right: 15px;
    outline: 2px solid #2bdda6;
    padding: 10px;
    width: 95%;
}

.resaltado
{
    color: #2bdda6;
    font-weight: bold;
}

.roboto
{
    font-family: "Roboto Slab";
    font-size: 1.25em;
}

.trabajos
{
    align-items: center;
    border-radius: 5px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    height:100%;
    margin: auto;
}

/* Media querys */
@media screen and (min-width:1081px) and (max-width:1240px)
{
    header, main, footer
    {
        height:fit-content;
        margin: auto;
        width: 97%;
    }
    
    header
    {
        grid-template-areas:
        "marca"
        "menu";
        grid-template-columns: 1fr;
        grid-template-rows: 40% 60%;
        height: fit-content;
    }   
    
    .itemMenu:hover
    {
        width: 19%;
    }

    .cuerpo3v
    {
        height: fit-content;
        width:97%;
    }

    .trabajos
    {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:1080px)
{
    body
    {
        grid-template-rows: 400px auto 3fr;
        font-size: 14px;
    }
    header, main, footer
    {
        height:fit-content;
        margin: auto;
        width: 97%;
    }

    header
    {
        grid-template-areas:
        "marca"
        "menu";
        grid-template-columns: 1fr;
        grid-template-rows: 40% 60%;
        height: fit-content;
    }   
    
    select
    {
        width: 100%;
    }

    .campoEntrada
    {
        width: 99%;
    }
    
    .campoEntradaSelect
    {
        width:99%
    }

    .cardTrabajo
    {
        margin: 5px auto;
        padding: 3px;
        width: 75%;
    }

    .contenedorMenu
    {
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex-wrap: wrap;
    }

    .contenedorMarca
    {
        margin-top: 5px;
    }
    
    .cuerpo2H
    {
        height: fit-content;
        justify-content: center;
        width: 97%;
    }
    
    .cuerpo2H .index
    {
        grid-template-areas:
        "logo logo"
        "parrafo parrafo";
        grid-template-rows: auto 550px;
        height: fit-content;
    }
    
    .cuerpo2H .contacto
    {
        grid-template-areas:
        "formulario"
        "mapa";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        margin: auto;
        width: 100%;
    } 
    
    .cuerpo2H .trabajos
    {
        grid-template-columns: 1fr;
        justify-items: center;
        margin: auto;
        width: 100%;
    }

    .cuerpo3v
    {
        height: fit-content;
        width:97%;
    }

    .etiqueta
    {
        width: 30%;
        text-align: left;
    }

    .formulario
    {
        margin: auto;
    }

    .index p
    {
        width: 92%;
    }

    .itemMenu:hover
    {
        width: 250px;
    }
    
    .itemMenuSeleccionado
    {
        width: 250px;
    }
    .imgLogoGrande
    {
        margin:10px auto;
        width: 90%;
    }

    .mapa
    {
        margin-bottom: 15px;
        width: 85%;
    }
}
/* Animaciones */
@keyframes girar
{
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);
    }
}

@keyframes rotar3D
{
    from
    {
        transform: rotate3d(0,1,0, 0deg);
    }
    to
    {
        transform: rotate3d(0,1,0, 360deg);
    }
}

